.map-container {
  height: 100%;
}

.map-frame {
  height: 100%;
}

#map2 {
  width: 100%;
  height: 100%;

  .leaflet-pane {
    z-index: -1 !important;
  }
}

.bottom {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: space-between;
  padding: 8px;

  .cancelBtn {
    --background: var(--ion-color-grey-tint) !important;
    --color: var(--ion-color-purple) !important;
  }

  .confirmBtn {
    --background: var(--ion-color-purple) !important;
    --color: white !important;
  }

  .cancelBtn:hover {
    --background: var(--ion-color-purple) !important;
    --color: white !important;
  }

  .confirmBtn:hover {
    --background: var(--ion-color-grey-tint) !important;
    --color: var(--ion-color-purple) !important;
  }

  .bottomBtn {
    height: 32px;
    width: 100px;
    
    font-weight: bold;
  }
}
