/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "~leaflet/dist/leaflet.css";
@import "~leaflet-compass/dist/leaflet-compass.min.css";
@import "~leaflet-toolbar/dist/leaflet.toolbar.css";
@import "~esri-leaflet-geocoder/dist/esri-leaflet-geocoder.css";

mat-tab-group {
  height: 100%;
}

.mat-tab-body-wrapper {
  height: 100%;
}
mat-tab-body {
  height: 100%;
}

.modalClass .modal-wrapper {
  height: 60%;
  margin: auto;
  background-color: transparent;
}

.completedModalClass .modal-wrapper {
  height: 496px;
  width: 384px;
  margin: auto;
}

.leaflet-pane {
  z-index: 0 !important;
}

.mapRadar {
  .leaflet-bottom {
    opacity: 50% !important;
    z-index: 0 !important;
  }
}

.searchbar-input.sc-ion-searchbar-md {
  padding-top: 1px !important;
  padding-bottom: 1px !important;
  -webkit-padding-start: 36px !important;
  padding-inline-start: 36px !important;
  -webkit-padding-end: 25px !important;
  padding-inline-end: 25px !important;
  border-radius: 8px !important;
}

.searchbar-search-icon.sc-ion-searchbar-md {
  left: 6px !important;
  top: 4px !important;
  height: 24px !important;
  width: 24px !important;
  color: var(--ion-color-green) !important;
}

.searchbar-clear-button.sc-ion-searchbar-md {
  right: 0px !important;
}

.selectedAddress {
  .native-input[disabled].sc-ion-input-md {
    opacity: 1 !important;
  }
}

.leaflet-toolbar-0 {
  list-style: none;
  padding-left: 0;
  border: none;
  border: 2px solid rgba(0, 0, 0, 0.2);
  // box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border-radius: 4px;
}

.leaflet-toolbar-0 > li > .leaflet-toolbar-icon {
  display: block;
  // width: 26px;
  // height: 26px;
  line-height: 30px;
  margin-right: 0;
  padding-right: 0;
  border-right: 0;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
}

.leaflet-toolbar-0 > li > .leaflet-toolbar-icon > ion-icon {
  height: 18px;
  width: 18px;
  margin-top: 4px;
}

.geocoder-control-input {
  max-width: 220px;
}

.toast-bottom-margin {
  transform: translateY(-50px) !important;
}

span {
  font-size: 16px;
  color: black;
}

.compass-alert {
  width: 0 !important;
  padding: 0 !important;
  border: none !important;
  background-color: transparent !important;
}

.centerIcon {
  color: var(--ion-color-purple) !important;
}

.menuIcon {
  color: var(--ion-color-purple) !important;
}

* {
  font-family: Lato !important;
}

ion-icon {
  color: var(--ion-color-purple) !important;
}

ion-button {
  --border-radius: 0;
}