<div class="content">
  <div class="icon">
    <ion-icon
      name="lock-closed-sharp"
      slot="icon-only"
      *ngIf="activity.blocked && !activity.completed; else available"
    ></ion-icon>
    <ng-template #available>
      <ion-icon name="lock-open-sharp" slot="icon-only"></ion-icon>
    </ng-template>
  </div>
  <div class="text">
     <div class="titleCompleted">
        <b>{{ activity.title }}</b>
        <ion-icon *ngIf="activity.completed" name="checkmark-circle-sharp"></ion-icon>
      </div>
    <span *ngIf="activity.distance != null; else noDistance"
      >Proximity: {{ activity.distance }} m</span
    >
    <ng-template #noDistance>
      <span>Proximity: Getting location...</span>
    </ng-template>
  </div>
  <ion-button
    class="enterBtn"
    (click)="startActivity()"
    [disabled]="activity.blocked && !activity.completed"
  >
    Start
  </ion-button>
</div>
