#content {
  background-color: white;
  height: 50px;
  padding: 0 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  .button {
    --background: none !important;
    --box-shadow: none;
    display: block;
    color: black;
  }

  .menuIcon {
    font-size: 32px;
  }
}
