<ion-content class="ion-padding">
  <ion-title class="purple">{{ experience.title }}</ion-title>
  <form [formGroup]="form" (ngSubmit)="saveExperience()" novalidate>
    <ion-item lines="none">
      <ion-label position="floating">Title</ion-label>
      <ion-input
        formControlName="title"
        type="text"
        required
        (ionFocus)="removeDeleteListeners.emit()"
        (ionBlur)="createDeleteListeners.emit()"
      ></ion-input>
    </ion-item>
    <ion-text
      color="danger"
      class="error ion-padding"
      *ngIf="isSubmitted && errorControl.title.errors?.required"
    >
      Title is mandatory!
    </ion-text>
    <ion-text
      color="danger"
      class="error ion-padding"
      *ngIf="isSubmitted && errorControl.title.errors?.minlength"
    >
      Title should have at least 4 characters.
    </ion-text>

    <ion-item lines="none">
      <ion-label position="stacked">Image</ion-label>
      <div class="imageContent">
        <img
          [defaultImage]="'assets/imgs/picture_placeholder.svg'"
          [lazyLoad]="imagePath"
          (click)="fileInput.click()"
          *ngIf="imagePath != null"
        />

        <input
          type="file"
          style="display: none;"
          accept="image/*"
          #fileInput
          (change)="onFileChanged($event)"
          required
        />

        <div>
          <ion-button class="fileBtn" (click)="fileInput.click()"
            >Choose</ion-button
          >
        </div>
      </div>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating">Description</ion-label>
      <ion-textarea
        formControlName="description"
        type="text"
        required
        rows="3"
        (ionFocus)="removeDeleteListeners.emit()"
        (ionBlur)="createDeleteListeners.emit()"
      ></ion-textarea>
    </ion-item>
    <ion-text
      color="danger"
      class="error ion-padding"
      *ngIf="isSubmitted && errorControl.description.errors?.required"
    >
      Description is mandatory!
    </ion-text>
    <ion-text
      color="danger"
      class="error ion-padding"
      *ngIf="isSubmitted && errorControl.description.errors?.minlength"
    >
      Description should have at least 10 characters.
    </ion-text>

    <ion-item lines="none">
      <ion-label position="floating">Tags</ion-label>
      <ion-input
        formControlName="tags"
        type="text"
        required
        (ionFocus)="removeDeleteListeners.emit()"
        (ionBlur)="createDeleteListeners.emit()"
      ></ion-input>
    </ion-item>
    <ion-text
      color="danger"
      class="error ion-padding"
      *ngIf="isSubmitted && errorControl.tags.errors?.required"
    >
      Tags are mandatory!
    </ion-text>
    <ion-text
      color="danger"
      class="error ion-padding"
      *ngIf="isSubmitted && errorControl.tags.errors?.minlength"
    >
      Tags should have at least 4 characters.
    </ion-text>

    <ion-item lines="none">
      <ion-label position="floating">Date</ion-label>
      <ion-datetime
        (ionChange)="getDate($event)"
        formControlName="date"
      ></ion-datetime>
    </ion-item>

    <ion-button
      class="btnSubmit"
      type="submit"
      >Save</ion-button
    >
  </form>
</ion-content>
